.font__montserrat--700 {
  font-family: $main-font;
  font-weight: 700;
  font-style: normal;
}

.font__montserrat--400 {
  font-family: $main-font;
  font-weight: 400;
  font-style: normal;
}

.font__kaushan--400 {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
}