input {
  height: 40px;
  width: 226px;
  border: 1px solid $footer-color;
  border-right: none;
  font-family: $third-font;
  font-style: italic;
  font-size: 15px;
  padding-left: 9px;
  margin-right: -4px;
}