.wrapper__header {
  background-image: url(../../images/Eagle.png);
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 225px;
  margin-bottom: 46px;
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../../images/Eagle@2x.png);
  }
}

.wrapper__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(239, 214, 136, 0.9), rgba(230, 131, 130, 0.9));
}