html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
/* For elements with box-sizing: content-box */

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* For correct work of imagies with links inside(from video) */


/* Body CSS */

.container {
    width: 900px;
    margin: 0 auto;
    /* width from PS (Photoshop) */
}


/* Header CSS */

.nav {
    display: inline-block;
    width: 900px;
    height: 192px;
    text-align: center;
    padding-top: 78px;
    padding-bottom: 104px;
    /* width, height, paddings from PS */
}

.nav a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #626262; 
}

.nav a:focus,
.nav a:hover {
    color: #68cbf8;
}

.lifestyle {
    margin-right: 122px;
}

.photodiary {
    margin-right: 102px;
}

.music {
    margin-right: 94px;
}
/* all margins right from PS */



/* Main CSS */

.section {
    margin: 0;
    padding: 0;
    font-size: 0; 
    /* font size instead of -4px(1/4 from font size, 14 or 16px default font size) for inline-block's margin-right or left */
    
}

.article {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 128px;
    /* 134px margin-bottom in photoshop - 5px (line height-font size = 10px/2) than make even*/
}

.article:nth-child(2n) {
    margin-right: 0;
}
/* every second  article doesn't need margin right*/

.article:nth-last-child(-n+2) {
    margin-bottom: 52px; 
    /* margin to button 58px-5px(1/2 line height-font size), than even*/
}

.article h2 {
    font-size: 30px;
    margin-bottom: 36px;
    font-weight: 100;
    color: #626262;
    /* margin bottom 44px-3px-5px (margin in PS - 1/2 line height-font size) */
}

.article p {
    font-size: 14px;
    font-weight: 100;
}

.article-title {
    color: #c7c1b6;
    margin-bottom: 32px;
    margin-top: 30px;
    /* margings calculation is the same as above */
}

.article-text {
    line-height: 24px;
    color: #626262;
}
/* line height from PS */


/* Button */
.button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 164px;
    height: 60px;
    border: 1px solid black;
    font-size: 20pt;
    line-height: 24pt;
    background-color: white;
    cursor: pointer;
    color:#626262;
    margin-bottom: 72px;
}
/* Why font-family is different from other elements on page? */
