$main-font: Montserrat;

$secondary-font: Kaushan;

$third-font: Roboto;

$primary-font-size: 14px; 


$primary-light-color: #fff;

$menu-item-color: #fce38a;

$button-header-color: rgba(255, 255, 255, 0);

$card-background: #95e1d3;

$soc-icon-color: #f38181;

$footer-color: #a6a6a6;


$margin-center: 0 auto;
